* {
    text-decoration: none;
    font-family: "Segoe UI", "Roboto", sans-serif !important;
    }
body{
    background-color: rgb(182, 140, 85);
}
.title{
    color: black;
}
.box {
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    padding: 1rem;
    background-color: #4F935A;
    text-align: center;
}
.eight-ball{
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    box-shadow: 0 0 5px white;
    border-radius: 100%;
    padding: 1rem;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    color: rgb(49, 61, 55);
}
h2 {
    color: white;
}